<div class="container">
  <h5>Bạn đang sử dụng dịch vụ reset password của thien changle</h5>
  <p>Dưới đây là link reset của bạn. Không được gửi cho bất kì ai</p>
  <p>Link chỉ tồn tại trong <%= hours %> giờ</p>
  <p>Link: <a href="<%= link %>"><%= link %></a></p>
</div>
